html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

ul {
  list-style-type: none;
  border-left: 3px solid teal;
}

p {
  width: 100%;
}

.app-main {
  padding-top: 64px !important;
}

.app-section-title {
  font-weight: 400;
  margin: 0 0 2rem 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.54);
}

.app-section-title.title-1 {
  font-size: 2.25rem;
}

.app-section-title.title-2 {
  font-size: 1.75rem;
}

.app-section-title.title-3 {
  font-size: 1.5rem;
}

.app-section-title.center {
  text-align: center;
}

.app-section-title.cWhite {
  color: white;
}
